.app {
  .content-wrapper {
    .accordion {
      margin-top: 20px;
    }
  }

  .faq-list {
    text-align: left;  
  }

  .card {
    padding: 12px 8px;
    border: 1px solid #999;

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0,188,212,.14), 0 3px 1px -2px rgba(0,188,212,.2), 0 1px 5px 0 rgba(0,188,212,.12);
    }

    & + .card {
      margin-top: 5px;
    }
  }
}