body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

main {
  width: 300px;
  min-height: 200px;
  padding: 20px 10px;
}

#root {
  height: 100%;
}

.text-center {
  text-align: center;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-hz {
  display: flex;
  justify-content: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.bar-wave-loader {
  height: 48px;
}

.flx {
  display: flex;

  &-auto {
    flex: 1;
  }

  &-vertical {
    flex-direction: column;
  }
}

.h100 {
  height: 100%;
}

.txt-box {
  outline: none;
  border: 1px solid #dfe1e5;
  border-radius: 2px;
  padding: 6px 10px;
  min-width: 200px;
  font-size: 16px;
  
  &:focus {
    border: 1px solid #4a90e2;
  }
}

h1 {
  font-weight: 400;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mt25 {
  margin-top: 25px;
}

.mt5 {
  margin-top: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #0003;
}

p {
  margin: 0;
}